* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

header {
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

nav > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav > a:hover {
  text-decoration: underline;
}

header > input {
  padding: 10px 20px;
}

footer {
  border-top: 1px solid #d1d1d1;
  padding-top: 20px;
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* nav {
  display: flex;
  gap: 20px;
} */

/* main {
  display: flex;
  flex-direction: column;
  gap: 40px;
} */

/* #products-section {
  display: flex;
  gap: 40px;
} */

/* #categories-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* #categories-list > li:hover {
  text-decoration: underline;
  cursor: pointer;
} */

/* #products-grid {
  display: grid;
  gap: 20px;
  flex: 1;
} */

/* .product {
  display: flex;
  flex-direction: column;
  gap: 5px;
} */

/* figcaption {
  font-weight: bold;
} */

/* @media (min-width: 768px) {
  #products-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  #products-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */